//- input field universal mixin, i hope. 

mixin input(options)
    - var {label, note, mclass, name, type, placeholder} = options
    
    .form-group
        label.form-group_wrapper
            .form-group__title= label
            if note
            .form-group__note= note

        .input_wrapper
            input.form-group__input(class= mclass, placeholder= placeholder, name= name, type= type)          