mixin date-dropdown(option)
    -
     var inputsArr = [{label: startLabel, value: startDate}, {label: endLabel, value: endDate}]
    
    .date-dropdown 
        input.date('type'='date', 'name' = 'startDate')
        input.date('type'='date', 'name' = 'endtDate')
  
