.uikit-container {
    display: flex;
    justify-content: space-evenly;
    min-width: 320px;     
    margin: 0 auto;
    margin-top: 5px;

    .col-2x {
        width: 510px;
    }
}

@media screen and (max-width: 900px) {
    .uikit-container {
        flex-direction: column; 
        .col-2x {
            width: auto;
        }
    }
}