mixin checkbox(heading, args)
    - let head = heading;
    - let arg = args;

    .form-group
        label.form-group_wrapper
            .form-group__title= head.groupHeader
            if head.note
            .form-group__note= head.note

        .checkbox-group
            ul.checkbox-group__list
                for t in arg
                    li.checkbox__list__item
                        input(type= head.type)(checked= t.checked)
                        .checkbox__list__label= t.label
                    