.rpm {
    display: flex;
    justify-content: center;
    margin: auto;

    main{ 
        margin: 50px auto;
        max-width: 1200px;
    }

    .rpm-wrapper{
        font-family: monospace;
        background: rgba(0, 51, 102, 0.5);
        padding: 10px;
        color: white;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
    
        .rpm__phone {margin: 0px 20px;}
    }
    
        .rpm-bones {
            display: flex;
            flex-wrap: wrap;
            margin: 30px auto;
            justify-content: space-evenly;
    }
    
    .rpm-bones__item{
        flex-basis: 280px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgba(0, 51, 102, 0.2);
        padding: 10px;
    }
    
    .rpm-bones__img img {width: 100%;}
}

