doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Figma2Html Metalamp by RyzhkovPavel
    body 
        .rpm
            .rpm-wrapper
                .rpm__logo Ryzhkov Pavel 
                .rpm__phone | +7 (950) 688-49-99 
                .rpm__mail | rpm-16@mail.ru

            main
                h1 Шаблон Toxin для MetaLamp
                .rpm-bones 
                    .rpm-bones__item
                        .rpm-bones__img
                            img(src="./img/ColorsType.png", alt="Colors & type")
                        .rpm-bones__link
                            a(href="./colorstypes.html") Colors & Types 
                        .rpm-bones__description 
                            p Цвета и типы применяемые в макете.       
                        .rpm-bones__progress Выполнено
                            progress(value="98" max="100")           
                    .rpm-bones__item
                        .rpm-bones__img
                            img(src="./img/FormElements.png", alt="form elements")
                        .rpm-bones__link
                            a(href="./formelements.html") Form Elements 
                        .rpm-bones__description 
                            p Элементы форм для использования в макете       
                    .rpm-bones__item
                        .rpm-bones__img
                            img(src="./img/Cards.png", alt="Cards")
                        .rpm-bones__link
                            a(href="./cards.html") Cards 
                        .rpm-bones__description 
                            p Диалоговые окна макета
                    .rpm-bones__item
                        .rpm-bones__img
                            img(src="./img/HeadersFooters.png", alt="HeadersFooters")
                        .rpm-bones__link
                            a(href="./headersfooters.html") HeadersFooters 
                        .rpm-bones__description 
                            p шапка и подвал макета         
