include ../input/input
include ../buttons/buttons
mixin input-dropdown(args)
  - let objArgs = args;
   
 
  .input-dropdown-group
    +input(args)(value= countString || objArgs.placeholder, readonly= "readonly")
    .input-dropdown-group__options(class=objArgs.inline? "expanded": "")
      ul.input-dropdown-group__options__list
      for item in objArgs.items
        li.input-dropdown-group__options__item= item.title
          .input-dropdown-group__options__controls
            button(type="button" data-action="delGuest" disabled= item.count === 0) -
            span.input-dropdown-group__options__itemcount= item.count         
            button(type="button" data-action="addGuest" disabled= item.count > 7) +
      if objArgs.buttons        
        .buttons 
          +button({name: "Очистить"})(data-action="clear").withoutbg
          +button({name: "Применить"})(data-action="submit").withoutbg

<<<<<<< HEAD
           
=======
mixin input-dropdown(options)
    - 
      var {label, note, mClass,name, type, placeholder, items, showButtons, id} = options;
    
      
    +input(options)(value= countString || "Сколько гостей")
    #dropdown
      ul.input-dropdown_item-list   Выпадалка\n sadfg\n sadf
        for item in items
            li.input-dropdown__item
              .input-dropdown_controls
                button -
                button +
      if showButtons
          .input-dropdown_items-footer
                    
            li.input-dropdown_buttons
              .need Buttons

>>>>>>> main
