include ../input/input

mixin input-dropdown(options)
    - 
      var {label, note, mClass,name, type, placeholder, items, showButtons, id} = options;
    
      
    +input(options)(value= countString || "Сколько гостей")
    #dropdown
      ul.input-dropdown_item-list   Выпадалка\n sadfg\n sadf
        for item in items
            li.input-dropdown__item
              .input-dropdown_controls
                button -
                button +
      if showButtons
          .input-dropdown_items-footer
                    
            li.input-dropdown_buttons
              .need Buttons

