.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.col-3x {
    flex: 1 0 auto; 
    flex-basis: 33%;
    max-width: 320px;
    min-width: 320px;
    margin-bottom: 100px;
}

.col-3x-2x {
    flex: 1 0 auto; 
    flex-basis: 70%;
    max-width: 710px;
    min-width: 320px;
    margin-bottom: 100px;
}



