extends ../../layouts/uikit-layout/uikit-layout.pug
include ../../blocks/input/input
include ../../blocks/input-dropdown/input-dropdown
include ../../blocks/date-dropdown/date-dropdown

block variables
  -
    let title = "Form & Elements";
    let items = [{title: "Взрослые", count: 2}, {title: "Дети", count: 0}, {title:"Младенцы", count: 4}];

block content
  .container
    .col-3x 
      .mt-1
        +input({label: "Text Field", note: "default", mclass: "", name: 'none', type: 'email', placeholder: "Email"})
      .mt22
        +input({label: "Text Field", note: "hover/focus", mclass: "", name: 'none', type: 'text', placeholder: "This is pretty awesome"})
      .mt22
        +input-dropdown({label: "Dropdown", note: "", mclass: "input-dropdown__input", name: '', type: 'text',
                            placeholder: " ", items: items , showButtons: false, id:"block1" })
      .mt22
        +input({label: "Masked Text Field", note: "hover/focus", mclass: "", name: '', type: 'date', placeholder: "ДД.ММ.ГГГГ"})
      .mt22
        +date-dropdown()
    .col-3x
    .col-3x
