extends ../../layouts/uikit-layout/uikit-layout.pug
include ../../blocks/input/input
include ../../blocks/input-dropdown/input-dropdown
include ../../blocks/date-dropdown/date-dropdown
include ../../blocks/checkbox/checkbox
include ../../blocks/radiobuttons/radiobuttons
include ../../blocks/toggle-buttons/toggle-buttons
include ../../blocks/like-buttons/like-buttons

block variables
  -
    let title = "Form & Elements";
    let items = [{title: "Взрослые", count: 2}, {title: "Дети", count: 0}, {title:"Младенцы", count: 4}];

block content
  .container
    .col-3x 
      .mt-1
        +input({label: "Text Field", note: "default", mclass: "", name: 'none', type: 'email', placeholder: "Email"})
      .mt22
        +input({label: "Text Field", note: "hover / focus", mclass: "", name: 'none', type: 'text', placeholder: "This is pretty awesome"})
      .mt22
        +input-dropdown({label: "Dropdown", note: "", mclass: "input-dropdown__input", name: '', type: 'text',
                            placeholder: "Сколько гостей ", items: items , showButtons: false, id:"block1" })
      .mt22
        +input({label: "Masked Text Field", note: "", mclass: "", name: '', type: 'text', placeholder: "ДД.ММ.ГГГГ"})
      .mt40
        +date-dropdown([{label:'date dropdown'}, {label:'date dropdown'}])
      .mt40
        +date-dropdown([{label:"filter date dropdown"}])
      .mt40
        +input({label: "Subscription Text field"})
    .col-3x
      .mt-1
        +checkbox({groupHeader: "checkbox buttons", note: "", type: "checkbox" }, [{label: "Можно курить", checked: true }, {label: "Можно с питомцами", checked: true}, {label: "Можно пригласить гостей (до 10 человек)"} ])
      .mt40
        +radiobuttons({groupHeader: "radio buttons", note: "", type: "radio" }, [{label: "Мужчина", checked: true }, {label: "женщина"} ])
      .mt30
        +togglebuttons({groupHeader: "toggle", note: "", type: "radio" }, [{label: "Получать спецпредложенния", checked: true }, {label: "Получать спецпредложенния"} ])
      .mt40
        +like-buttons({groupHeader: "like button", note: "", type: "button" }, [{label: "", count: 2, class: "" }, {label: "", count: 12, class: "active"} ])

    .col-3x
